*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix ::after{
    content: "";
    display: table;
    clear: both;

}
header h1{
    color: #E53170;
    font-family: system-ui;
    font-weight: bolder;
}
header{
    text-align: center;
    padding-top:2rem;
}

.container{
    width: 920px;
    margin:auto;
    padding-top: 2rem;
}

.bedge{
    background-color:#0F0E17;
    display: inline-block;
    width: 30%;
}

.bedge:nth-child(1){
    margin-right: 2rem;
}
.bedge:nth-child(3){
    margin-left: 2rem;
}


.bedge h2{
    font-size: larger;
}

.bedge img{
    float: left;
    width: 5rem; 
}


.rigabedge{
    padding-top: 2rem;
    text-align: center;
}

.info-persona{
    padding-left: 6rem;
    padding-top: .5rem;
}

.info-persona h2,h4{
    padding-bottom: 0.3rem;
}

.bedge .info-persona h4{
    color: #636668;
    font-family: monospace;
}

.bedge .info-persona h2{
    color: white;
    font-size: smaller;
}


.info-persona span a{
    text-decoration: none;
    color: #32AADC;
}





